<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzt.inventory.mapper.InventoryManagementMapper">

    <select id="selectByParam" resultType="com.xzt.inventory.domain.InventoryManagement">
        SELECT im.id,
               im.creator_id,
               im.del_flag,
               im.customer_name,
               im.region,
               im.business_type,
               im.licens_plate_number,
               im.parking_garage,
               im.make_and_model,
               im.status,
               im.inbound_date,
               im.clearance_team,
               im.pick_up_fee,
               im.settle_status,
               im.remark,
               oi.out_date,
               su.nick_name,
               gp.p_id,
               gp.day_or_month_price,
               gp.fixed_price,
               oi.out_date,
               CASE WHEN oi.out_date IS NOT NULL THEN DATEDIFF( oi.out_date, im.inbound_date) + 1
                    ELSE DATEDIFF(CURRENT_DATE, im.inbound_date) + 1
                   END AS in_day
        FROM inventory_management as im
                 left join sys_user as su on im.creator_id = su.user_id
                 left join out_inventory oi on im.id = oi.in_man_id and oi.del_flag = 0
        left join  xzt_garage_price as gp on im.parking_garage = gp.id
            ${ew.customSqlSegment}
    </select>
</mapper>